# Maven
target/

# Current debug installation
work/

# Editor backup files
*.bak
*~

# Translation test files
*_invalid.properties

# copied markdown files for site
src/site/markdown/

# Eclipse project files
.classpath
.project
.settings
